<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hncgc1990.rxjavademo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".BufferActivity" />
        <activity android:name=".retrofit.FlatMapActivity" />
        <activity android:name=".operator.createOperator.CreateOperatorMainActivity" />
        <activity android:name=".operator.transformOperator.TransformMainActivity" />
        <activity android:name=".operator.filterOperator.FilterMainActivity" />
        <activity android:name=".operator.combineOperator.CombineActivity" />
        <activity android:name=".operator.combineOperator.CombineLatestActivity" />
        <activity android:name=".operator.assistantOperator.AssistantMainActivity" />
        <activity android:name=".operator.conditionOperator.ConditionMainActivity" />
        <activity android:name=".operator.booleanOperator.BooleanMainActivity" />
        <activity android:name=".operator.mathOperator.MathMainActivity" />
        <activity android:name=".operator.connectOperator.ConnectMainActivity"></activity>
        <activity android:name=".operator.blockOperator.BlockMainActivity">

        </activity>
        <activity android:name=".operator.errorOperator.ErrorMainActivity">


        </activity>



        <activity android:name=".retrofit.RetrofitMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
    </application>

</manifest>